@model BecomeTradePartnerFormModel

@{ ViewBag.Title = "Become Our Trade Partner"; }

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Bulstat"></label>
                <input asp-for="Bulstat" class="form-control" placeholder="example: 999999999">
                <span asp-validation-for="Bulstat" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName"></label>
                <input asp-for="CompanyName" class="form-control" placeholder="Santolina LTD, SpaZone LTD, etc...">
                <span asp-validation-for="CompanyName" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="+359 999 999 999, +359 9 999 99 99...">
                <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
            </div>

            <input class="btn btn-danger mt-3" type="submit" value="Save" />
        </form>
    </div>
</div>
